<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315314117707-31hksme6ggett34atpqt0tar9rrj5kqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315314117707-31hksme6ggett34atpqt0tar9rrj5kqf</string>
	<key>API_KEY</key>
	<string>AIzaSyAqcGR9QW_Tk1vDiGJkzIthCZepBQWSrwI</string>
	<key>GCM_SENDER_ID</key>
	<string>315314117707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nisum.Spark</string>
	<key>PROJECT_ID</key>
	<string>sparktest-f5883</string>
	<key>STORAGE_BUCKET</key>
	<string>sparktest-f5883.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315314117707:ios:6858dcc8972bc5b491c1ce</string>
</dict>
</plist>